body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.textbox {
    border: 1px solid #808080;
    font-family: 'Courier New';
    font-size: 12px;
    padding: 3px;
}

.button {
    width: 75px;
    margin-top: 5px;
}

label {
    font-family: Arial;
    font-size: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
}

h1 {
    font-family: Arial;
    font-size: 24px;
}

input:invalid {
    background-color: #ffda00;
    border: 1px solid #f00;
}

input:required {
    background-color: #fff;
    border: 1px solid #ff6a00;
}

    